name: Checkstyle CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  checkstyle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17' # Вкажіть вашу версію Java
          distribution: 'temurin'

      - name: Build and Check Code Style
        run: mvn checkstyle:check
